<footer class="footer">
    <div class="row text-center ">
        <div class="col-lg-4 ">
            <div class="section-padding" style="background-color: #231F20;">
                <div class="footer-main-row footer-black-section-middle">
                    <a href="index">
                        <img src="assets/images/Haraxy_Footer_logo.svg" alt="logo" class="footer-logo">
                    </a>
                    <div class="footer-inner-col footer-inner-social-col pt-3">
                        <div class="footer-inner-social-list">
                            <ul>
                                <li style="margin-left: 0;">
                                    <a href="https://m.facebook.com/haraxytechnologies/" target="_blank">
                                        <img src="assets/images/footer-icons/facebook_icon.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/haraxy.co/" target="_blank">
                                        <img src="assets/images/footer-icons/instagram_icon.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/haraxy-technologies-pvt-ltd"
                                        target="_blank">
                                        <img src="assets/images/footer-icons/linkedin_icon.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.behance.net/haraxyt/" target="_blank">
                                        <img src="assets/images/footer-icons/behance_icon.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCoYOJGIYISKnTgT1w4axxmA" target="_blank">
                                        <img src="assets/images/footer-icons/youtube_icon.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.upwork.com/o/companies/~018b5bfd12f749e6cf" target="_blank">
                                        <img src="assets/images/footer-icons/upwork_icon.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center pt-3 text-center footer-clutch-review">
                        <div style="transform: translateX(20%); text-align: center; justify-content: center; display: flex;">
                            <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
                            <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2"
                                data-height="45" data-darkbg="1" data-clutchcompany-id="1895582"></div>
                        </div>
                    </div>
                    <div class="footer-inner-bottom-logo-wrap pt-3">
                        <div class="d-flex justify-content-center">
                            <p>© 2021 Haraxy. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 ">
            <div class="footer-white-section-middle">
                <div class="footer-main-row footer-menu-main-section">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-5 footer-contact-section">
                            <div class="d-flex footer-contact-icons-wrap">
                                <div class="footer-conatct-icons-inner-wrap">
                                    <img src="assets/images/footer-icons/gmail_icon.svg" alt="">
                                </div>
                                <div class="text-left">
                                    <h4>Connect us</h4>
                                    <p>HR: <a href="mailto: bijal@haraxy.in">bijal@haraxy.in</a></p>
                                    <p>Sales: <a href="mailto: sales@haraxy.co">sales@haraxy.co</a></p>
                                    <p>General: <a href="mailto: info@haraxy.co">info@haraxy.co</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-7 footer-contact-section">
                            <div class="d-flex footer-contact-icons-wrap">
                                <div class="footer-conatct-icons-inner-wrap">
                                    <img src="assets/images/footer-icons/contact_icon.svg" alt="">
                                </div>
                                <div class="text-left">
                                    <h4>PHONE</h4>
                                    <p><a href="tel:+918160809521">+91 8160 809521</a></p>
                                    <p><a href="tel:+917698106756">+91 76981 06756</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-5 footer-contact-section">
                            <div class="d-flex footer-contact-icons-wrap pt-3">
                                <div class="footer-conatct-icons-inner-wrap">
                                    <img src="assets/images/footer-icons/Skype_ICON_0.svg" alt="">
                                </div>
                                <div class="text-left">
                                    <h4>SKYPE</h4>
                                    <p><a href="skype:live:rahulbhatt910?chat">h.Rahul</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-7 footer-contact-section">
                            <div class="d-flex footer-contact-icons-wrap pt-3">
                                <div class="footer-conatct-icons-inner-wrap">
                                    <img src="assets/images/footer-icons/location_icon.svg" alt="">
                                </div>
                                <div class="text-left">
                                    <h4>Locate us</h4>
                                    <p>B-410/11, Atria The Business Hub, Sargasan, Gandhinagar, Gujarat, India - 382421.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <!-- <div class="row"> -->
                        <div class="col-lg-1"></div>
                        <div class="footer-inner-middle-row">
                            <ul class="footer-inner-middle-row-ul">
                                <li><a href="index">Home</a></li>
                                <li><a href="about-us">About</a></li>
                                <li><a href="services">Services</a></li>
                                <li><a href="work">Portfolio</a></li>
                                <li><a href="blog">Blogs</a></li>
                                <li><a href="career">Career</a></li>
                                <li><a href="contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-inner-bottom-row">
                <div class="footer-inner-bottom-logo-wrap" style="position: absolute;
    bottom: 5px;">
                    <div class="footer-inner-bottom-row-ul">
                        <div class="footer-inner-bottom-logo-content">
                            <ul class="d-flex">
                                <li class="li-first"> <a href="terms-of-use">Terms & Condition</a>
                                </li><span>.</span>
                                <li class="li-second"> <a href="privacy-policy">Privacy Policy</a></li>
                                <span>.</span>
                                <li class="li-second1"> <a href="sitemap">Sitemap</a></li>
                            </ul>
                            <!-- <p>Â© 2021 Haraxy. All rights reserved.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>